/* ini bagian profile picture */
.avatar{
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Ini bagian social media icon */
.social-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media (max-width: 768px) {
    .social-list {
        flex-direction: column;
    }
}

.social-list > .social-item > a{
    border: 1px solid rgb(250, 217, 247);
    padding: 8px 12px;
    border-radius: 8px;
    display: block;
    text-decoration: none;
}
.social-list > .social-item > a > i{
    margin-right: 8px;
}
.social-list > .social-item:first-child > a{
    background: blue;
    color: white;
}
.social-list > .social-item:nth-child(2) > a{
    background: linear-gradient(to bottom left, magenta,red, yellow);
    color: white;
}
.social-list > .social-item:last-child > a{
    background: white;
    color: blue;
}
/* Ini bagian experience */
.job-title{
    font-weight: bold;

}
.job-desc{
    font-weight: lighter;
}

/* Ini bagian gallery */
.carousel-photo{
    width: 800px;
    height: 500px;
    display: flex;
    gap: 50%;
}
.gambar-biasa{
    width: 300px;
    height: 400px;
    object-position: center;
}

/* Ini bagian program tools */
.program-list{
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.program-list > .program-item > a > i{
    font-size: 24px;
    margin-right: 8px;
}
.program-list > .program-item:first-child > a:hover{
    font-size: x-large;
    background: white;
    color: red;
}
.program-list > .program-item:nth-child(2) > a:hover{
    font-size: x-large;
    background: white;
    color: yellow;
}
.program-list > .program-item:last-child > a:hover{
    font-size: x-large;
    background: white;
    color: rgb(0, 0, 0);
}
